.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header  */
header {
    background-color: #372D23;
    display: flex;
    padding: 32px 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: inherit;
    max-width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logolink {
    display: inline-flex;
}

.headerul {
    display: flex;
    column-gap: 48px;
}

.headertext {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FCC21B;
    font-family: "Inter", sans-serif;
}

.active {
    color: #ED6C30;
}