.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header  */
header {
    background-color: #372D23;
    display: flex;
    padding: 32px 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: inherit;
    max-width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.logolink {
    display: inline-flex;
}

.headerul {
    display: flex;
    column-gap: 48px;
}

.headertext {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FCC21B;
    font-family: "Inter", sans-serif;
}

.active {
    color: #ED6C30;
}

/* section 1 */
.ordersection{
    margin-top: 136px;
    width: 1440px;
    height: 640px;
    position: relative;
}

.orderarticle{
    width: 762px;
    height: 208px;
    background-color: #FCC21B;
    padding: 34px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sectiontitle{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    text-shadow: 0 6px 4px #372D23;
}

.orderbutton{
    padding: 12px 38px;
    background-color: #FCC21B;
    border: 3px solid #FFFFFF;
}

.orderbutton:hover{
    box-shadow: 0 2px 4px ;
}

.ordertext{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}